input[type="button"]{
    transition: all 0.2s linear;
    width:100px;
    text-align:center;
    font-size:26px;
    padding:10px 10px;
    background:lightblue;
}
input[type="button"]:active, input[type="buttton"]:focus{
    background: red !important;
}
